html {
    scroll-behavior: smooth; 
}

body {
    background: #FFB6E7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFB6E7;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.changeColor {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.headerInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 220px;
}

/*
.nav {
    font-size: 30px;
}

.navLink {
    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    transition: color .2s linear;
}

.navLink:hover {
    color: #FFFF00;
}

.navLink:after {
    position: absolute;
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFF00;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.navLink:hover:after {
    opacity: 1;
}

*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("./images/intro.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.introInner {
   background-color: #FFB6E7;
   border: 5px solid transparent;
   border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
   border-image-slice: 1;
   width: 500px;
   padding: 10px 15px;
   color: #fff;
   box-shadow: 0 0 10px 5px;  
}

.animate {
   font-size: 50px;
   letter-spacing: 3px;
   font-family: 'Lobster', cursive;
 }
 
 .animate span {
   display: inline-block;
 }

 .animate span:nth-of-type(2) {
   animation-delay: .05s;
 }
 .animate span:nth-of-type(3) {
   animation-delay: .1s;
 }
 .animate span:nth-of-type(4) {
   animation-delay: .15s;
 }
 .animate span:nth-of-type(5) {
   animation-delay: .2s;
 }
 .animate span:nth-of-type(6) {
   animation-delay: .25s;
 }
 .animate span:nth-of-type(7) {
   animation-delay: .3s;
 }
 .animate span:nth-of-type(8) {
   animation-delay: .35s;
 }
 .animate span:nth-of-type(9) {
   animation-delay: .4s;
 }
 .animate span:nth-of-type(10) {
   animation-delay: .45s;
 }
 .animate span:nth-of-type(11) {
   animation-delay: .5s;
 }
 .animate span:nth-of-type(12) {
   animation-delay: .55s;
 }
 .animate span:nth-of-type(13) {
   animation-delay: .6s;
 }
 .animate span:nth-of-type(14) {
   animation-delay: .65s;
 }
 .animate span:nth-of-type(15) {
   animation-delay: .7s;
 }
 .animate span:nth-of-type(16) {
   animation-delay: .75s;
 }
 .animate span:nth-of-type(17) {
   animation-delay: .8s;
 }
 .animate span:nth-of-type(18) {
   animation-delay: .85s;
 }
 .animate span:nth-of-type(19) {
   animation-delay: .9s;
 }
 .animate span:nth-of-type(20) {
   animation-delay: .95s;
 }
 .animate span:nth-of-type(21) {
   animation-delay: 1s;
 }

 .three span {
    color: #b10e81;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: sideSlide .5s forwards;
 }
 
 @keyframes sideSlide {
   60% {
     transform: translate(20px, 0) scale(1);
     color: #b10e81;
   }
 
   80% {
     transform: translate(20px, 0) scale(1);
     color: #b10e81;
   }
 
   99% {
     transform: translate(0) scale(1.2);
     color: #00f0ff;
   }
 
   100% {
     transform: translate(0) scale(1);
     opacity: 1;
     color: #FFFF00;
   }
 }

.section {
    padding: 60px 0;
}

.sectionHeader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.blockImg {
    padding: 8px;
    background: linear-gradient(130deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%; 
    animation: animated-gradient 2s linear infinite;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

@keyframes animated-gradient {
  25% {
      background-position: left bottom;
  } 
  
  50% {
      background-position: right bottom;
  } 
  
  75% {
      background-position: right top;
  } 
  
  100% {
      background-position: left top;
  }
}
